.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
}

.nav-link{
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.nav-link:hover{
    color: white;
    border-bottom: 2px solid white;
}