<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeBuild</title>
    <link rel="stylesheet" href="../stylesheets/landing.css" />
  </head>
  <body class="main-container">
    <div class="cover-container">
      <header class="header">
        <div>
          <div class="logo">
            <img src="../assets/WeBuild_Logo.png" alt="Logo" />
          </div>
          <nav class="nav nav-bar">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="spots.html">Add Spot</a>
            <a class="nav-link" href="gallery.html">Gallery</a>
            <a class="nav-link" href="./login.html">Login</a>
          </nav>
        </div>
      </header>
      <main class="main-content">
        <div class="hilight"></div>
        <div class="text-blocks">
            <p class="lead-small"> What we do is </p>
            <p class="lead">
        <br> Deliver <br> Excellence<br>
        </div>
        </p>
        <div>
            <img src="../assets/mouse.png" alt="Logo" />
            <p>Scroll to explore our services.</p>
        </div>
      </main>
      <!-- <footer class="footer"></footer> -->
    </div>
  </body>
  <script src="../javascripts/scrollHandler.js"></script>
</html>
